language: node_js
node_js: node
services:
- mongodb
deploy:
  provider: heroku
  api_key:
    secure: flm9nhpA2gmdtH9wWlstzkctqTHY1ICGr4i3Fly65fQLOuyT6V0qAZki81npTsGvLsKpJb67I0WHhpcvtTm0mk2bCl5gQkwErSEzSX/OqiQ38bwwT2pIzJ1KP7KwAclOzfx6qGquAC8HgBhiRkjvfkckR5zTaaPmrE95cRDAGsY5vUysEE4L7hi5RCROBAluO5YbE4ADZUNMlZ8mPbRyKVpPsUO+h2s2hhkGwCd/t2qYWZbAQ7so5XSrcRfM8xoHmO0WvyBdnqwZsQ/0pnC89WT4UD6BoF7Ho9YawC3+zTx1Hnyyt1wHkTZrseFfIh7mxU1TrmDlOwlry3XiMBiuT1FLGRKa5y+J8jAU4ddGRLdLAQkzvTLRiJ9Z+NAlruPSrfaZ7BX7IWGvi0VVLdS9JaqZm+rj0/NiLIal9UlTBGEDW3miNjxOIkAU56qKBjdWSdwa1DWCn2jPwtl8VRyS150Ibg45xTxN6IP0wS6JV232Bcvk2W/g/Awahy3jD5hIzy0zpZybROpIAs8sOzPQ0lfVCkPy76SlTTbGJDyiO18uvwfbbhjpB5pTPM6PoHWQkNns93sipSIXtYt6OuYsAZjprAQD+LDg8a3SVY7cywFjMQhhi1gYVDvtwzW5bSYZB6nAX3N19YOQhWofw+PimFuVG2C2V9LxVlKGvICTjeQ=
  app: kyle-filipp-restaurant-travis
  on:
    repo: thinkful-ei22/w05d03-kyle-filipp-restaurant-travis
